@font-face {
	font-family: "game-icons";
	src: url('./game-icons.eot');
	src: url('./game-icons.eot?#iefix') format('eot'),
		url('./game-icons.woff2') format('woff2'),
		url('./game-icons.woff') format('woff'),
		url('./game-icons.ttf') format('truetype'),
		url('./game-icons.svg#game-icons') format('svg');
}

.game-icon:before {
	font-family: "game-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.game-icon-symbol-item:before {
	content: "\E001";
}

.game-icon-symbol-towncrier:before {
	content: "\E002";
}

.game-icon-stat-dex:before {
	content: "\E003";
}

.game-icon-symbol-combat:before {
	content: "\E004";
}

.game-icon-symbol-event:before {
	content: "\E005";
}

.game-icon-symbol-achievement:before {
	content: "\E006";
}

.game-icon-symbol-special:before {
	content: "\E007";
}

.game-icon-symbol-guild:before {
	content: "\E008";
}

.game-icon-symbol-levelup:before {
	content: "\E009";
}

.game-icon-symbol-profession:before {
	content: "\E00A";
}

.game-icon-stat-con:before {
	content: "\E00B";
}

.game-icon-stat-agi:before {
	content: "\E00C";
}

.game-icon-stat-str:before {
	content: "\E00D";
}

.game-icon-symbol-progress:before {
	content: "\E00E";
}

.game-icon-stat-mp:before {
	content: "\E00F";
}

.game-icon-symbol-explore:before {
	content: "\E010";
}

.game-icon-stat-gold:before {
	content: "\E011";
}

.game-icon-symbol-gold:before {
	content: "\E012";
}

.game-icon-stat-int:before {
	content: "\E013";
}

.game-icon-symbol-xp:before {
	content: "\E014";
}

.game-icon-stat-luk:before {
	content: "\E015";
}

.game-icon-symbol-pet:before {
	content: "\E016";
}

.game-icon-stat-hp:before {
	content: "\E017";
}

.game-icon-symbol-meta:before {
	content: "\E018";
}
